body {
    padding: 0;
    margin: 0;
}
#staffIdInput{
    width: 50%; /* Adjust the width as needed */
    height: 15px;
    padding: 10px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    border: 2px solid #000000; /* Add border style */
    margin-right: 0; /* Remove margin between elements */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 0;
}


#searchInput {
    width: 300px;
    height: 10px;
    padding: 10px; 
    font-size: 16px;
    border: 2px solid #000000; /* Add border style */
    margin-right: 0; /* Remove margin between elements */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 0;
}

#categorySelect {
    width: 100px; /* Adjust the width as needed */
    height: 39px; /* Adjust the height as needed */
    font-size: 15px; /* Adjust the font size as needed */
    padding: 5px; /* Adjust the padding as needed */
    border: 2px solid #000000; /* Add border style */
    margin-left: 0; /* Remove margin between elements */
    border-left: 0;
    border-radius: 0px;
}

#category{
    width: 350px; /* Adjust the width as needed */
    height: 34px; /* Adjust the height as needed */
    font-size: 15px; /* Adjust the font size as needed */
    padding: 5px; /* Adjust the padding as needed */
    border: 2px solid #000000; /* Add border style */
    background-color: aquamarine;
    border-radius: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px; /* Added margin bottom to create space for the sidebar */
    width: 100%;
    justify-content: center;
}

.footer-icons {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-icons div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.footer-icons .fas {
    margin-top: 27px;
    font-size: 30px;
}



.search-icon-box {
    background-color: #000; /* Black background */
    width: 34px; /* Adjust width as needed */
    height: 39px; /* Adjust height to match input/select height */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-icon-box i {
    color: #fff; /* White font color */
    font-size: 18px; /* Adjust font size as needed */
}

img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2 {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
    color: white;
}


.container {
    margin-right: 20px;
    width: calc((99%-20px)/7);
    height: 450px; /* Adjust the height as needed */
    margin-bottom: 20px; /* Space below containers */
    display: inline-block; /* Make containers display inline */
    box-sizing: border-box; /* Include border in width calculation */
    vertical-align: top; /* Align containers to the top */
    box-shadow: 0px 1px 4px rgba(47, 47, 47, 0.837);
    position: relative; /* Ensure the container is positioned relative */
    border-radius: 15px;
    
}
.container span{
    font-size: 18px;
}


.container img {
    width: 100%; /* Make sure the image doesn't exceed the container width */
    height: 300px; /* Make sure the image doesn't exceed the container height */
    display: block; /* Ensure the image is centered within the container */
    margin: auto; /* Center the image horizontally */
    padding: 0;
    border-radius: 15px;
}

.containee{
    background-color: rgb(0, 0, 0);
    color: aquamarine;
}

.containers {
    width: calc((93% - 20px) / 4); /* Adjust to fit within container */
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    border-radius: 15px;
    align-items: center;
}

.containee {
    background-color: rgb(0, 0, 0);
    color: aquamarine;
}

.containees {
    width:calc((96% - 20px) / 3 ); /* Adjust to fit within container */
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
}

.sidebar {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    top: 0;
    box-sizing: border-box;
}



.container button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    transition: background-color 0.3s ease;
    background-color: rgb(0, 0, 0);
    border: none;
    color: #fff;
    box-shadow: 0px 1px 4px rgba(47, 47, 47, 0.837);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container button:hover {
    background-color: lightblue;
}

.price {
    color: #cd1212;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}
.item-info {
    margin-bottom: 5px; /* Add margin between item name and price */
}


.item-info select {
    margin-left: 5px;
    font-size: 16px; /* Adjust the font size as needed */
    padding: 6px; /* Adjust the padding as needed */
    margin-bottom: 0px;
}

.item-info input[type="text"] {
    padding: 5px; /* Add padding for better appearance */   
    width: 20px;
    height: 20px;
    border: 1px solid rgb(88, 82, 82); /* Add border */
    border-right: 0;
    border-left: 0;
    text-align: center; /* Center the text inside the input */
    -moz-appearance: textfield; /* Remove the up and down arrows in Firefox */
    appearance: textfield; /* Remove the up and down arrows in other browsers */
}

.quantity-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    margin-left: 8px;
}

.quantity-controls {
    display: flex; /* Use flexbox for the controls */
    align-items: center; /* Align items vertically */

}

.quantity-controls i {
    margin-right: 0px; /* Adjust the margin to bring icons closer */
    cursor: pointer;
    border: 1px solid rgb(88, 82, 82); /* Add border */
    padding: 7px; /* Add padding for better appearance */
}
.logo img {
    width: 250px;
    height: 100px;
    margin-right: 50px;
    padding-left: 50px;
    margin-top: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.flex-container {
    display: flex;
    align-items: start;
    margin-top: 10px;
    margin: left 0;
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.item-container img {
    width: 100px;
    height: auto;
 
}

.item-container span {
    flex-grow: 1;
    font-size: 16px;
}

.bp img {
    width: 300px;
    height: auto;
}

nav {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 1px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #8b4513;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    color: #8b4513;
    border-bottom: 2px solid #8b4513;
}

nav ul li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    background-color: #8b4513;
}

.containees h2 {
    color: #8b4513;
}

.social-icon {
    color: white;
    font-size: 24px;
    margin: 10px 0;
    transition: color 0.3s ease;
}



/* Adjustments for screens larger than 1200px */
@media only screen and (min-width: 1201px) {
    body {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-icons .fas {
        margin-top: 28px;
        font-size: 30px;
        margin-left: 20px;
    }

    .container {
        max-width: calc((93% - 40px) / 7);
    }
    .containers {
        max-width: calc((94% - 40px) / 6);
    }

    .containees {
        width: calc((96% - 40px) / 3);
    }

    .sidebar {
   display: none;
    }
    #pagination{
        width: 100%;
         margin-right: 0;
         justify-content: center;
         margin-left: 0;
         position: absolute;
     }
}

/* Adjustments for screens between 992px and 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .footer-icons .fas {
        margin-top: 30px;
        font-size: 30px;
        margin-left: 20px;
    }


    .logo{
        margin-right: 10px;
        padding-left: 10px;
    }

    .search-container{
        width: 90%;
        justify-content: center;
    }


    .container {
        max-width: calc((92% - 30px) / 5);
        min-width: calc((92% - 20px) / 4);
    }

    .containers {
        max-width: calc((92% - 30px) / 5);
        min-width: calc((92% - 20px) / 4);
    }

    .containees {
        width: calc((96% - 30px) / 3);
    }

    .sidebar {
        display: none;
    }
    #pagination{
        width: auto;
         margin-right: 0;
         justify-content: center;
         margin-left: 0;

         position: absolute;
     }
}

/* Adjustments for screens between 768px and 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo{
        display: none;
    }
    .search-container{
        width: 90%;
    }

    .footer-icons .fas {
        margin-top: 15px;
        font-size: 30px;
        margin-left: 20px;
    }

    .container {
        max-width: calc((92% - 20px) / 4);
        min-width: calc((90% - 10px) / 3);
        justify-content: space-between;
    }

    .containers {
        max-width: calc((92% - 20px) / 4);
        min-width: calc((90% - 10px) / 3);
        justify-content: space-between;
    }

    .containees {
        width: calc((96% - 20px) / 2);
    }

    .sidebar {
        display: none;
    }
    #pagination{
        width: auto;
         margin-right: 0;
         justify-content: center;
         margin-left: 0;

         position: absolute;
     }
}

/* Adjustments for screens between 576px and 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



    .container {
        max-width: calc((90% - 10px) / 3);
        min-width: calc((93% - 10px) / 2);
    }
    .containers {
        max-width: calc((100% - 10px) / 3);
        min-width: calc((93% - 10px) / 2);
    }

    .containees {
        width: calc((96% - 10px) / 2);
    }
  .footer-icons .fas {
        margin-top: 12px;
        font-size: 30px;
        margin-left: 20px;
        
    }
    .sidebar {
        display: none;
    }
    .logo{
        display: none;
    }
    .search-container{
        width: 90%;
    }
    #pagination{
        width: auto;
         margin-right: 0;
         justify-content: center;
         margin-left: 0;
     }
}

/* Adjustments for screens smaller than 576px */
@media only screen and (max-width: 575px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        width: calc((93% - 20px) / 2);
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .containers {
        width: calc((97% - 10px) / 2);
        margin-left: 0;
        margin-bottom: 10px;
        padding-left: 20px;
    }
.containees{
    width: 100%;
}
    .sidebar {
        display: none;
    }
    .footer-icons{
        flex-direction: column;
        margin-top: 0;
        display: flex;
        margin-bottom: 0;
        padding-top: 50px;
    }
    .logo{
        display: none;
    }
    .footer-icons .fas {
        margin-top: 10px;
        font-size: 25px;
    }
    #pagination{
       width: auto;
        margin-right: 0;
        justify-content: center;
        margin-left: 0;
        position: absolute;
    }
}